<div>
  <h1>Edit User Profile</h1>
  <form action="/petProfile/<%-pet.PetID %>/petEdit" method="POST" id="information_pet">
    <div>
      <p>Current Name: <%- pet.Name %> </p>
      <label for="name">Edit Name:</label>
      <input type="text" id="name" name="name" placeholder="Enter Name">
    </div>
    <div>
      <p>Current Gender: <%- pet.Gender %></p>
      <label for="gender">Edit Gender:</label>
      <input type="text" id="gender" name="gender" placeholder="Enter Gender">
    </div>
    <div>
      <p>Current Specie: <%- pet.Specie %></p>
      <label for="specie">Edit Specie:</label>
      <input type="text" id="specie" name="specie" placeholder="Enter Specie">
    </div>
    <div>
      <p>Current Breed: <%- pet.Breed %></p>
      <label for="breed">Edit Breed:</label>
      <input type="text" id="breed" name="breed" placeholder="Enter Breed">
    </div>
    <div>
      <p>Current Description: <%- pet.Description %></p>
      <label for="description">Edit Description:</label>
      <input type="text" id="description" name="description" placeholder="Enter Description">
    </div>
    <div>
      <p>Current </p>
    </div>
    <div>
      <input type="submit" value="Save">
    </div>
  </form>
</div>