<div class="profileTemplate">
  <div class="profileDetails">
    <h2>Pet Profile</h2>
    <!-- IMAGE SELECTION HERE -->
    <div class="two-column-layout">
      <p>Name: <%- pet.Name %></p>
      <p>Age: <%- pet.petAge%></p>
      <p>Gender: <%- pet.Gender %></p>
      <p>Breed: <%- pet.Breed %></p>
      <p>Birthdate: <%- pet.BirthDate %></p>
      <p>Description: <%- pet.Description %></p>
      <p>Owner: <%- pet.UserName %></p>
      <form action="/petProfile/<%-pet.PetID %>/edit" method="get">
        <input type="submit" value="Edit Pet">
      </form>
    </div>
  </div>
  <div class="petMedicalInfo">
    <h2>Conditions</h2>
    <div>
      <p>Name: <%- pet.BodyPart %></p>
      <p>Symptom: <%- pet.Symptom %> </p>
      <p>Treatment: <%- pet.MedName %></p>
    </div>
    <h2>Medications</h2>
    <div>
      <p>Name: <%- pet.MedName %></p>
      <p>For: <%- pet.BodyPart %></p>
      <p>Dosage: <%- pet.Portion %></p>
      <p>Frequency: <%- pet.Rate %></p>
      <p>Administered on: <%- pet.pmiDate %></p>
    </div>
    <h2>Weight Check</h2>
    <div>
      <p>Current Weight: <%- latestWeight %>lbs</p>
      <p>Previous Measurement: <%- previousWeight %>lbs</p>
      <p>Measurement Date: <%- previousWeightDate %></p>
    </div>
  </div>
</div>