<div id="profile_pet">
    <h1><%- pet.Name %></h1>
    <img id="pet_img" src="/images/jayzed" alt=" Doggo1 Profile Picture">
    <div id="information_pet">        
        <p>Name: <%- pet.Name %> </p>
        <p>Gender: <%- pet.Gender %></p>
        <p>Species: <%- pet.Specie %></p>
        <p>Breed: <%- pet.Breed %></p>
        <p>Weight: <%- pet.Weight %></p>
        <p>Birthdate: <%- pet.BirthDate %></p>
        <p>Description: <%- pet.Description %></p>
        <p>Owned By: <button><%- pet.UserName %></button></p>
        <p>Conditions: <%- pet.BodyPart %> | Symptom: <%- pet.Symptom %> | Description: <%- pet.ConDescription %> </p>
        <p>Medications: <%- pet.MedName %> | Description: <%- pet.MedDescription %></p>

    </div>
</div>