<div id="profile_pet">
    <h1>Jayzed</h1>
    <img id="pet_img" src="/images/jayzed" alt=" Doggo1 Profile Picture">
    <div id="information_pet">        
        <p>Name: <%- pet.name %> </p>
        <p>Gender: <%- pet.gender %></p>
        <p>Species: <%- pet.type %></p>
        <p>Breed: <%- pet.breed %></p>
        <p>Weight: <%- pet.weight %></p>
        <p>Birthdate: <%- pet.birthdate %></p>
        <p>description: <%- pet.description %></p>
        <p>Owned By: <button><%- pet.owner %></button></p>
        <p>Conditions: <%- pet.conds%></p>
        <p>Medications: <%- pet.meds %></p>
        <!-- <button>Edit</button> -->
    </div>
</div>
