<div class="profileTemplate">
  <div class="profileDetails">
    <!-- IMAGE SELECTION HERE -->
    <div class="profile-layout">
      <p id="petImage">image here:</p>
      <p style="font-weight: bold; font-size: 2em;"><%- pet.Name %></p>
      <div id="petDetails">
        <div class="pd1">
          <div class="petCategory">Owner</div>
          <p><%- pet.UserName %></p>
        </div>
        <div class="pd2">
          <div class="petCategory">Age</div>
          <p style="margin-right: 15px;"><%- petInfo.Pet_Age %></p>
        </div>
        <div class="pd3">
          <div class="petCategory">Sex</div>
          <p><%- pet.Gender %></p>
        </div>
        <div class="pd4">
          <div class="petCategory">Breed</div>
          <p><%- pet.Breed %></p>
        </div>
        <div class="pd5">
          <div class="petCategory">Date of Birth</div>
          <p><%- pet.BirthDate %></p>
        </div>
        <div class="pd6">
          <div class="petCategory">Description</div>
          <p><%- pet.Description %></p>
        </div>
      </div>
      <div class="pd7">
        <i class="fas fa-edit"></i>
        <button id="editPetBtn">Edit Pet</button>
      </div>
    </div>
  </div>

  <div id="petButtons">
    <button id="generalInfoButton">General Details</button>
    <button id="medicationsButton">Healthcare Details</button>
  </div>

  <div id="wholeInfo">
    <div id="general_info">
      <h2 style="margin-top: 0px;">Weight Check</h2>
      <div class="listWeight">
        <div class="wl1">Latest Weight: <%- latestWeight %>lbs</div>
        <div class="wl2"><%- latestWeightDate %></div>
        <div class="wl3">Previous Weight: <%- previousWeight %>lbs</div>
        <div class="wl4"><%- previousWeightDate %></div>
      </div>

      <h2>Scheduled Reminders<span class="viewAll"><a style="text-decoration: none; color: #888888;"
            href="/schedule">View Full Schedule</a></span></h2>
      <div class="listOverflow">
        <% reminders.forEach(function(reminder) { %>
          <li class="listItem"><%- reminder.Description %> On <span style="font-style: italic; color: #888888;"><%-
                  reminder.ScheduleTime %></span></li>
          <% }); %>
      </div>

      <h2>Messages </h2>
      <div class="listOverflow">
        <% messages.forEach(function(message) { %>
          <li class="listItem"><%- message.Urgent_Message %></li>
          <% }); %>
      </div>
    </div>

    <div class="petMedicalInfo">
      <h2 style="margin-top: 0px;">Prescriptions<span class="viewAll"><a style="text-decoration: none; color: #888888;"
            href="/prescriptions">View All</a></span></h2>
      <div class="listOverflow" style="height: 250px">
        <% prescriptions.forEach(function(prescription) { %>
          <li class="listItem">
            <%- prescription.MedName %> | Portion: <%- prescription.Portion %> | Rate: <%- prescription.Rate %> <span
                    style="font-style: italic; color: #888888; float: right;">For: <%- pet.BodyPart %></span>
          </li>
          <% }); %>
      </div>

      <h2>Conditions</h2>
      <div class="listWeight">
        <div class="wl1">
          <p>Name: <%- pet.BodyPart %></p>
        </div>
        <div class="wl2">
          <p>Symptom: <%- pet.Symptom %> </p>
        </div>
        <div class="wl3">
          <p>Treatment: <%- pet.MedName %></p>
        </div>
        <div class="wl4">
          <p>Description: <%- consDesc %></p>
        </div>
      </div>

    </div>

      <div id="editPetForm" class="editPetInfo">
    <h2>Edit Pet Information</h2>
    <form action="/petProfile/<%-pet.PetID%>/edit" method="post">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name">
      <label for="gender">Gender:</label>
      <select id="gender" name="gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
      <label for="breed">Breed:</label>
      <input type="text" id="breed" name="breed">
      <label for="birthdate">Birthdate:</label>
      <input type="date" id="birthdate" name="birthdate">
      <label for="description">Description:</label>
      <textarea id="description" name="description"></textarea>
      <label for="userName">Owner:</label>
      <input type="text" id="userName" name="userName">
      <input id="updateInfoBtn" type="submit" value="Update Pet Information">
    </form>
    <button id="cancelBtn" style="display: none;" href="/petProfile">Cancel</button>
  </div>

  </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  let lastSelected = 'general_info'
  $(document).ready(function () {
    // Add the 'selected' class to the #generalInfoButton when the page loads
    $("#generalInfoButton").addClass('selected');

    $("#generalInfoButton").click(function () {
      $("#general_info").show();
      $(".petMedicalInfo").hide();
      // Add the 'selected' class to the clicked button and remove it from the other button
      $(this).addClass('selected');
      $("#medicationsButton").removeClass('selected');
      lastSelected = 'general_info'
    });

    $("#medicationsButton").click(function () {
      $("#general_info").hide();
      $(".petMedicalInfo").show();
      // Add the 'selected' class to the clicked button and remove it from the other button
      $(this).addClass('selected');
      $("#generalInfoButton").removeClass('selected');
      lastSelected = 'petMedicalInfo'
    });

    $('#editPetBtn').click(function () {
  console.log('Edit button clicked');
  console.log($('#editPetForm')); // Add this line
  $('#editPetForm').css('display', 'block');
  $('#cancelBtn').css('display', 'block');
  $('#petButtons').css('display', 'none');
  $('#general_info').css('display', 'none');
  $('.petMedicalInfo').css('display', 'none');
});

    // Add click event listener to the "Update Information" button
    $('#updateInfoBtn').click(function (e) {
      // Show a confirmation dialog
      if (!confirm('Are you sure?')) {
        // If the user clicks "Cancel", prevent the form from being submitted
        e.preventDefault();
      }
    });

    $('#cancelBtn').click(function () {
  // Hide the form and the "Cancel" button
  $('#editPetForm').hide();
  $('#cancelBtn').hide();
  // Show the original elements
  $('#petButtons').show();
  // Check the last selected section and only show that
  if (lastSelected === 'general_info') {
    $('#general_info').show();
    $('.petMedicalInfo').hide();
  } else {
    $('#general_info').hide();
    $('.petMedicalInfo').show();
  }
  // Reset the form
  $('#editPetForm')[0].reset();
});

  });


</script>